body * {
    font-family: 'Ubuntu', sans-serif;
    color: #4e4e4e;
}

body {
    background: #fefefe;
    font-size: 18px;
    line-height: 2em;
}

.wrap > nav { 
    border-radius: 0;
    margin-bottom: 0;
}

.wrap > nav:first-child {
    background-color: #1a1a1b;
    min-height: 30px;
}

.wrap > nav:nth-child(2) {
    background-color: #ffffff;
    min-height: 45px;
    box-shadow: 0 0 3px #bebebe;
}

.row > .breadcrumb {
    background-color: #f5f5f5;
    min-height: 45px;
}

.image {
    padding-top: 10px; 
}

.btn {
    border: 3px solid #fff;
    box-shadow: 0 0 3px #cecece;
    border-radius: 20px;
    position: relative;
    font-weight: 700;
    overflow: hidden;
}

.btn span {
    color: #fff;
    position: relative;
    z-index: 1;
}

.btn:before {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    z-index: 0;
}

